@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    max-width: 100%;
    width: 100vw;
}

.left {
    /* height: 100vh; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: norse-bold;
    color: white;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.left > p {
    position: absolute;
    bottom: 0px;
    margin: 5px;
}

.logo-header {
    background-color: rgba(0, 0, 0, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-header img {
    width: 5rem;
}

.logo-header p {
    font-size: 2.25rem;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    flex: none;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;    
}

.form {
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
    font-size: 1.125rem;
    padding: 2rem;
}

#sign-up-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form label {
    display: block;
    width: 12rem;
    padding: 1rem 0rem;
}

.create-account {
    padding: 2rem;
}

.create-account button {
    padding: .8rem 1.3rem;
    font-size: 1.3rem;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 10px;  
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    font-size: .9rem;
    margin-top: 3px;
}

input:focus {
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    outline: none;
}

input:invalid:focus {
    border: 2px solid rgb(255, 69, 100)
}

input:focus:valid {
    border: rgb(0, 183, 255) 2px solid;
}

input.error {
    font-size: .9rem;
    border-color: rgb(255, 69, 100);
}

